<div class="hero" id="stack">
  <h2 class="hero__header hero__header--white">Stack</h2>
  <div class="grid--halves">
    <div class="stack-card">
      <h2 style="text-align:center;margin-bottom:32px;">Frontend</h2>
      <ul>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>300+ Hours experience<span></li>
            <li class="stack-card__info"><span>30+ Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>100+ Hours experience<span></li>
            <li class="stack-card__info"><span>5 Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>100+ Hours experience<span></li>
            <li class="stack-card__info"><span>2 Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/webpack/webpack-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>200+ Hours experience<span></li>
            <li class="stack-card__info"><span>? Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>600+ Hours experience<span></li>
            <li class="stack-card__info"><span>? Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>600+ Hours experience<span></li>
            <li class="stack-card__info"><span>? Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>200+ Hours experience<span></li>
            <li class="stack-card__info"><span>? Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>200+ Hours experience<span></li>
            <li class="stack-card__info"><span>? Projects created</span></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="stack-card">
      <h2 style="text-align:center;margin-bottom:32px;">Backend</h2>
      <ul>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>400+ Hours experience<span></li>
            <li class="stack-card__info"><span>50+ Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>100+ Hours experience<span></li>
            <li class="stack-card__info"><span>10+ Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>100+ Hours experience<span></li>
            <li class="stack-card__info"><span>3 Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>200+ Hours experience<span></li>
            <li class="stack-card__info"><span>3 Projects created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>400+ Hours experience<span></li>
            <li class="stack-card__info"><span>1 Project created</span></li>
          </ul>
        </li>
        <li class="stack-card__item flex--center">
          <%= image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg', class: 'stack-card__img') %>
          <ul>
            <li class="stack-card__info"><span>600+ Hours experience<span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>